[package]
name = "audiobookfinder"
version = "0.1.16"
authors = ["Sven Kroemeke <skroemeke@gmail.com>"]
license = "MIT" # http://spdx.org/licenses/
repository = "https://github.com/electricherd/audiobookfinder"
readme = "README.md"
documentation = "https://electricherd.github.io/audiobookfinder/audiobookfinder/"
keywords = ["rust", "tui", "mdns", "ssh", "webui", "websockets"]
publish = false
homepage = "https://github.com/electricherd/audiobookfinder"
description = "A program to collect information from audio books, gathered from multiple clients."

[badges]
appveyor = { repository = "audiobookfinder", branch = "master", service = "github" }
travis-ci = { repository = "electricherd/audiobookfinder", branch = "master" }
maintenance = { status = "actively-developed" }

[lib]
name = "adbflib"
path = "src/lib.rs"
bench = true

[[bin]]
name = "audiobookfinder"
path = "src/main.rs"

[dependencies]
clap = "2.33"         # for the command line parsing
dirs = "1.0"          # to browse dirs fast in taglib
lazy_static = "1.3"   # awesome lib for lazy data structures

dns-sd  = "0.1"     # need avahi-compat-client-dev lib
hostname = "0.1"    # for host recognition
mdns = "0.3"        # to search other mdns clients

env_logger = "0.6"     # alongside log for logging
flexi_logger = "0.11"  # a more flexible logger
log = "0.4"            # basic log feature
syslog = "4.0"           # another logger for system log

futures = "0.1"        # futures, used in state machine yet (and in many other crates)

tree_magic = "0.2"  # for fast file tree operations
taglib = "1.0"  # taglib for id3tags

rayon = "1.0"       # for multi-threading, very good
uuid = {version = "0.7", features = ["v4","serde"]}  # uuid for each app

actix = "0.8.1"         # basic for webserver
actix-web = "0.7.19"     # for mini webserver and websocket
webbrowser = "0.5"    # for opening webpage on machine
get_if_addrs = "0.5"  # for range of localhosts

state_machine_future = "0.2"  # state machine for client server communication for data exchange

serde = "1.0"         # serialize anything, awesome for communication items
serde_derive = "1.0"  # macro usage from serde
bincode = "1.1"       # another binary en/decoder as serde

ring = "0.13.5"        # crypto, used for random generation
thrussh = "0.21"       # ssh server client crate for communication
thrussh-keys = "0.11"  # ssh server client crate for communication
tokio-io = "0.1"       # has to be same as thrussh uses

# cursive is the tui
[dependencies.cursive]
version = "0.11"
default-features = false

[features]
default = ["cursive/termion-backend"]
system-alloc = []

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
incremental = false
opt-level = "z"

[target.armv7-unknown-linux-gnueabihf]
linker = "arm-linux-gnueabihf-gcc"

# possible enhancements of cross
# for cross of trust with travis
# https://github.com/japaric/trust
# https://github.com/japaric/cross
#[build.env]
#passthrough = [
#    "RUST_BACKTRACE",
#    "RUST_LOG",
#    "TRAVIS",
#]
